/* h1 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background: #171717;
  font-family: "Pacifico", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 8px;
  font-size: 32px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px #00adb5;
} */

/* Design for the entire UI of Todo frame */
.todo-wrapper {
  color: white;
  padding: 20px;
  /* width will setted to the size of the content. */
  width: 90%;
  backdrop-filter: blur(2px);
  font-family: "Pacifico", sans-serif;
  /* This margin makes the item to align at center. */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 50px; */
  /* Adding maximum height to get the scroll */
  height: 75vh;
  width: 80vw;
  /* when the items will be more then scroll will be added. */
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px #00adb5;
}

/* Design for the input part of the task */
.todo-input {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding-bottom: 25px;
  margin-bottom: 25px;
  margin-right: 0px;
}

/* Styling the inputs item */
.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}

/* Styling the labels of the input */
.todo-input-item label {
  font-weight: bold;
  font-family: "Pacifico", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 3px;
  box-shadow: 0px 0px 12px 1px #00adb5;
}

/* Styling the input part of the input part*/
.todo-input-item input {
  padding: 8px;
  border: none;
  width: 250px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px #00adb5;
}

/* Styling the input when it's clicked or focused */
.todo-input-item input:focus {
  outline: none;
  border: 2px solid #00adb5;
}

/* Styling add task button */
.primaryBtn {
  background-color: #00adb5;
  color: white;
  font-family: cursive;
  font-weight: 300;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 6px;
  margin-top: 48px;
  padding: 8px;
  width: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 12px 2px #00adb5;
}

/* Adding hover effect on Add task button */
.primaryBtn:hover {
  background-color: #007177;
  color: white;
}

/* Styling todo/completed button to switch between the screens */
.secondaryBtn {
  background-color: #303030;
  border-radius: 5px;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 12px;
  width: fit-content;
  cursor: pointer;
  box-shadow: 0px 0px 15px 1px #00adb5;
}

/* switch to this color on active tab b/w todo and completed */
.active {
  background-color: #00adb5;
  color: black;
}

/* Styling the todo-list-area */
.todo-list-area {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.btn-area {
  margin-bottom: 15px;
}

/* Styling the list item or added tasks visual */
.todo-list-item {
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between; /*This gives equal space between the contents here contents are in columns style*/
  align-items: center;
  padding: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 30px;
  border-radius: 6px;
  box-shadow: 0px 0px 15px #00adb5;
}

/* Styling the Name/Title of the task */
.todo-list-item h3 {
  font-size: 25px;
  color: #00adb5;
  font-weight: bold;
  margin: 0px;
}

/* Styling the description of the paragraph */
.todo-list-item p {
  font-size: 14px;
  color: rgb(187, 183, 183);
  margin-top: 8px;
  margin-right: 8px;
  width: fit-content;
}

.icons {
  display: flex;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto; */
}

/* Styling the icons */
.deleteIcon {
  font-size: 35px;
  cursor: pointer;
}
/* Giving hover style to delete icon */
.deleteIcon:hover {
  color: red;
  animation: logo-spin infinite 20s linear;
}
.checkIcon {
  font-size: 35px;
  margin-left: 10px;
  cursor: pointer;
  color: #00adb5;
}
.checkIcon:hover {
  color: rgb(2, 169, 91);
  animation: logo-spin infinite 20s linear;
}
/* Rotation animation style */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Stytlig the input feilds of the edit task */
.editWrapper {
  background-color: rgb(48, 48, 48);
  padding: 10px;
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0px 0px 15px #00adb5;
}

.editWrapper input,
.editWrapper textarea {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
}

.editWrapper .primaryBtn {
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  font-size: 16px;
  width: fit-content;
}

/* Adjusting view for small screen */
@media (max-width: 720px) {
  h1 {
    font-size: 1.8em;
  }

  /* Design for the input part of the task */
  .todo-input {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  /* Align all the input items in row manner. */
  .todo-input-item {
    flex-direction: row;
  }

  /* Adjusting the labels of the inputs. */
  .todo-input label {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  /* Adjusting the add button. */
  .primaryBtn {
    margin-top: 10px;
    padding: 5px;
  }
}

/* Edit Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 2px #00adb5;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00adb5;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aa4a00;
}
